.cart {
    font-size: 50px;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 600ms linear .2s;
    cursor: pointer;
    color: black;
}

.cart:hover {
    background-color: rgb(119, 177, 157);
}

.cartNumber {
    color: lightgrey;
    width: 20px;
    background-color: rgb(106, 106, 223);
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {
    .cart {
        font-size: 1.5rem;
    }
    .cartNumber {
        font-size: .8rem;
    }
}
@media only screen and (max-width: 450px) {
    .cart {
        font-size: 1.5rem;
    }
    .cartNumber {
        font-size: .8rem;
    }
}