.cart {
    font-size: 50px;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 600ms linear .2s;
    cursor: pointer;
    color: black;
}

.cart:hover {
    background-color: rgb(119, 177, 157);
}

.cartNumber {
    color: rgb(12, 12, 12);
    width: 20px;
    background-color: rgb(223, 206, 106);
    border-radius: 30px;
}
.basket-container {
    display: flex;
    align-items: center;
    width: 130px;
}

@media only screen and (max-width: 600px) {
    .cart {
        font-size: 1.5rem;
    }
    .cartNumber {
        font-size: .8rem;
    }
}
@media only screen and (max-width: 600px) {

    .cart {
        font-size: 1.5rem;
    }
    .cartNumber {
        font-size: .8rem;
    }

    .basket-container {
        width: 70px;
        align-self: flex-end;
    }
}