.cardContainer {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    height: 550px;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.addToCart {
    bottom: 0;
    border: none;
    border-radius: 20px;
    padding: 20px;
    background-color: aquamarine;
    transition: background-color 450ms ease 100ms;
}

.cardContainer img {
    width: auto;
    height: 200px;
}

.addToCart:hover {
    background-color: rgb(126, 138, 134);
    color: aquamarine;
}