form {
    margin-top: 20px;
}

main {
    text-align: center;
}
.checkout {
    width: 100%;
    background-image: linear-gradient(rgb(110, 194, 179), rgb(228, 189, 105));
    padding: 20px;
    text-transform: uppercase;
    color: black;
}
.stepper {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgb(228, 189, 105),rgb(110, 194, 179));
}
@media only screen and (max-width: 600px) {
    .shipping-address {
        width: 300px;
    }
    .checkout {
        width: 100%;
        padding: 5px;
    }
}