form {
    margin-top: 20px;
}

main {
    text-align: center;
}
.checkout {
    width: 100%;
    background-color: aquamarine;
    padding: 20px;
    text-transform: uppercase;
    color: rgba(7, 91, 70, 0.945);
}
.stepper {
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .shipping-address {
        width: 300px;
    }
    .checkout {
        width: 100%;
        padding: 5px;
    }
    .stepper {
        background-color: aquamarine;
    }
}