.shipping-address {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.select-fields {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input {
    margin: 5px;
}
@media only screen and (max-width: 600px) {
    .shipping-address {
        width: 300px;
    }
    .select-fields {
        width: 300px;
    }
}