@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-image: linear-gradient(rgb(110, 194, 179), rgb(228, 189, 105));
    width: 100%;
    top: -1%;
}

.title {
    color: black;
    width: auto;
    margin-left: 60px;
    font-family: 'Ephesis', cursive;
}

@media only screen and (max-width: 600px) {

    .title {
        font-size: 1.5rem;
        margin-left: 10px;
    }
}