.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: aquamarine;
    text-align: center;
    width: 100%;
    top: -1%;
}

.title {
    text-transform: uppercase;
    color: black;
    width: 250px;
    margin: auto;
}

@media only screen and (max-width: 850px) {
    .header {
        width: 100%;
    }
    .title {
        font-size: 1.5rem;
    }
}