.footer {
    background-image: linear-gradient(rgb(110, 194, 179), rgb(228, 189, 105));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7rem;
    color: black;
}