.productsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category {
    position: block;
    width: 100%;
    background-color: rgb(177, 207, 197);
    padding: 20px;
    margin-top: 120px;
}

.loading {
    position: relative;
    top: 500px;
    color: aquamarine;
    font-size: 3rem;
}

.error {
    position: relative;
    top: 500px;
    color: aquamarine;
    font-size: 3rem;
}

@media only screen and (max-width: 450px) {
    .category {
        margin-top: 150px;
    }
}
@media only screen and (max-width: 800px) {
    .category {
        margin-top: 90px;
    }
}